#container{
    position:absolute;
    top: 25%;
    right:0;
    left:0;

    form[name="login-form"] {
        float: right;
        padding-right: 20px;
        height: 200px;
        
    
        button {
           background-color: #CEDFF2;
           color: black;
           border: none;
           height: 30px;
       }
    
       input {
           height: 30px;
       }
    
       .invalid-feedback {
        color: white;
        font-size: 12px;
        line-height: 13px;
        }
    
        button:hover {
            cursor: pointer;
        }
    }
}

