form[name="login-form"] {
    line-height: 40px;
    display: block;
    float: right;

    button {
       background-color: #CEDFF2;
       color: black;
       border: none;
       height: 30px;
   }

   input {
       height: 30px;
   }

   .invalid-feedback {
    color: red;
    font-size: 12px;
    line-height: 10px;
    }

    button:hover {
        cursor: pointer;
    }
}

.login-form-group {
    float: left;
 }

