div {
    margin: 10px;

    textarea {
        min-height: 50px;
    }

    input, label {
        display: block;
    }

    .checkbox {
        
        input[type= "checkbox"], label {
        height: 15px;
        min-width: 30px;
        display: inline-block;
        }
    }

}

