/* You can add global styles to this file, and also import other style files */
@import "./src/app/variables.scss";

*{
    box-sizing: border-box;
    margin: 0px;
}

button {
    background-color: $button_background-color;
    color: $button_font_color;
    font-size: 18px;
    border: none;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}


@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~ngx-smart-modal/ngx-smart-modal";