@import '../../variables.scss';

.form-group {
    padding: 20px;
    color: #444444;
    width: 100%;

    input[type="text"], input[type="password"] {
        border: none;
        border-bottom: 2px solid $main_color_light;
        height: 30px; 
        display: flex;
        width: 20em;
    }

    input:focus {
        outline: none;
        border-bottom: 2px solid $main_color;
    }

    .invalid-feedback {
        color: $error_color;
        font-size: 12px;
    }

    .input[type= "checkbox"] + label span{
        height: 15px;
        width: 15px;
    }

    button {
        background-color: $button_background-color;
        color: $button_font_color;
        font-size: 18px;
        border: none;
        height: 30px;
    }

    button:hover {
        cursor: pointer;
    }
}