.form-group {
    padding: 20px;
    color: #444444;
    width: 100%;

    input {
        border: none;
        border-bottom: 2px solid #CEDFF2;
        height: 30px; 
        display: flex;
        width: 20em;
    }

    input:focus {
        outline: none;
        border-bottom: 2px solid #214F81;
    }

    .invalid-feedback {
        color: red;
        font-size: 12px;
    }

    button {
        background-color: #214F81;
        color: white;
        font-size: 18px;
        border: none;
        height: 30px;
    }
}