@import '../../variables.scss';

table {
    border-spacing: 0px;
    text-align: center;

    th, td {
        text-align: center;
        padding: 5px 10px;
        height: $table_height;
    }

    th {
        background-color: $main_color;
        color: $font_on_main_color;
    }

    tr:nth-child(even) {
        background-color: $main_color_light;
    }

    input {
        max-width: 100px;
    }

    td > input:disabled {
        border: none;
        background-color: transparent;
        color: $default_font_color;
    }

    p {
        background-color: $background-color;
        display: inline;
    }

    #mentee {
        background-color: transparent;
        font-size: 15px;
    }

}

.filtering-select {
    padding: 10px;
}

select {
    height: 30px;
    border: none;
}
