$main_color: #214F81;
$font_on_main_color: white;
$second_color: white ;
$font_on_second_color: black;
$error_color: red;
$main_color_light: #CEDFF2;
$default_font_color: black;
$background-color: white;
$button_background-color: #214F81;
$button_font_color: white;
$table_height: 40px;