@import '../../variables.scss';

table {
    border-spacing: 0px;

    th, td {
        text-align: center;
        padding: 5px 10px;;
        min-width: 200px;
        height: $table_height;;
    }

    th {
        background-color:  $main_color;
        color: $font_on_main_color;
    }

    tr:nth-child(odd) >  td{
        background-color: $main_color_light;
    }

    p {
        background-color: $background-color;
        height: 100%;
    }

    td > input:disabled {
        border: none; 
        display: flex;
        background-color: transparent;
        color: $default_font_color;
    }

    td > input:disabled:hover {
        color: $main_color;
        cursor: pointer;
    }

}

.filtering-select {
    padding: 10px;
}

select {
    height: 30px;
    border: none;
}
