table {
    border-spacing: 0px;

    th, td {
        text-align: center;
        padding: 5px 10px;;
        min-width: 200px;
    }

    th {
        background-color:  #214F81;
        color: white;
    }

    tr:nth-child(even) >  td{
        background-color: #CEDFF2;
    }

    p {
        background-color: white;
        height: 100%;
    }

    .popuptr:hover {
        color: #214F81;
        cursor: pointer;
    }
}


